<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Cuisine-book</title>
</head>
<body>
<form id="recipeRequest">
    <select id="selectDish" name="name">
        <option th:each="name:${listNames}" th:text="${name}"></option>
    </select>
    <label for="firstTaskRadio">Краткая информация по рецепту</label>
    <input id="firstTaskRadio" type="radio" name="isLink" value="/firstTask">
    <label for="secondTaskRadio">Рецепт или ссылка</label>
    <input id="secondTaskRadio" type="radio" name="isLink" value="/secondTask">
    <input type="submit" value="submit">
</form>
<form id="selectIngredient">
    <select id="ingredients">
        <option th:each="ingr:${setOfIngredients}" th:text="${ingr}">
    </select>
</form>
<p th:if="${name} != null" th:text="${name}"></p>
<p th:if="${cuisine} != null" th:text="${cuisine}"></p>
<p th:if="${type} != null" th:text="${type}"></p>
<p th:if="${ingredients} != null" th:text="${ingredients}"></p>
<a th:if="${technology} != null" th:href="${technology}">Recipe</a>
<br>
<a th:if="${link} != null" th:href="${link}">youtube</a>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.js"></script>

<script>
    $.ajax({
        url: "/",
        type: "GET",
        contentType: "html"
    });

    $('#selectDish').change(function () {
        let isLink = document.querySelectorAll('input[name = "isLink"]')
        for (let link of isLink)
            if (link.checked)
                $('#recipeRequest').attr("action", link.value);
    });

    $('#firstTaskRadio').change(function () {
        if (!$('#firstTaskRadio').is("checked", true))
            $('#recipeRequest').attr("action", $('#firstTaskRadio').val())
    })

    $('#secondTaskRadio').change(function () {
        if(!$('#secondTaskRadio').is("checked", true))
            $('#recipeRequest').attr("action", $('#secondTaskRadio').val())
    })

    $('#firstTaskRadio').prop('checked', true);
    $('#recipeRequest').attr("action", "/firstTask");
</script>
</body>
</html>